<div *ngIf="!allCurrenciesLoaded || !userCurrenciesLoaded"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<div *ngIf="allCurrenciesLoaded && allCurrencies?.length === 0"><p>Справочник валют пуст</p></div>
<div *ngIf="allCurrencies?.length !== 0">
  <form>
    <mat-form-field class="currency-chip-list" appearance="fill">
      <mat-label *ngIf="userCurrencies.length > 0">Валюты пользователя</mat-label>
      <mat-label *ngIf="userCurrencies.length === 0">Нажмите, что бы выбрать валюту</mat-label>
      <mat-chip-grid #chipGrid>
        <mat-chip-row *ngFor="let currency of userCurrencies" (removed)="remove(currency)">
          {{currency}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input placeholder="Поиск валюты..." #currencyInput [formControl]="currencyCtrl"
             [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="add($event)"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency">
          {{currency}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
