<div class="control-list-between"></div>
<mat-card [formGroup]="operationInputForm">
  <mat-card-header></mat-card-header>
  <mat-card-content class="control-list">
    <mat-form-field appearance="fill">
      <mat-label>Сумма</mat-label>
      <input matInput formControlName="amount">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Валюта</mat-label>
      <mat-select formControlName="currencyCode">
        <mat-option *ngFor="let currency of userCurrencies | async" [value]="currency.code">{{currency.code}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Счёт</mat-label>
      <mat-select formControlName="accountId">
        <mat-option *ngFor="let account of userAccounts | async" [value]="account.id">{{account.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Категория</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of userCategories | async" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Дата</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>дд.мм.гггг</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ЧЧ</mat-label>
      <mat-hint>час.</mat-hint>
      <mat-select disableRipple formControlName="hour">
        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ММ</mat-label>
      <mat-hint>мин.</mat-hint>
      <mat-select disableRipple formControlName="minute">
        <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Примечание</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="operationInputSave()" [disabled]="saveButtonDisabled">Сохранить</button>
  </mat-card-actions>
</mat-card>
<div class="control-list-between"></div>
<mat-card>
  <mat-card-content>Здесь будут расходы за день</mat-card-content>
</mat-card>
