<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>FamilyBuh</span>
  <button mat-stroked-button aria-label="Расходы" (click)="activeButtonEvent.emit(eButtonName.EXPENSES)">
    Расходы
  </button>
  <button mat-stroked-button aria-label="Доходы" (click)="activeButtonEvent.emit(eButtonName.INCOMES)">
    Доходы
  </button>
  <button mat-stroked-button aria-label="Категории" (click)="activeButtonEvent.emit(eButtonName.CATEGORIES)">
    Категории
  </button>
  <button mat-stroked-button aria-label="Счета" (click)="activeButtonEvent.emit(eButtonName.ACCOUNTS)">
    Счета
  </button>
  <button mat-stroked-button aria-label="Валюты" (click)="activeButtonEvent.emit(eButtonName.CURRENCIES)">
    Валюты
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
