<nav class="navbar navbar-expand-sm" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FamilyBuh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" #navButtons>
        <a class="nav-link active" href="#" (click)="navButtonClick($event,eButtonName.EXPENSES)">Расходы</a>
        <a class="nav-link" href="#" (click)="navButtonClick($event, eButtonName.INCOMES)">Доходы</a>
        <a class="nav-link" href="#" (click)="navButtonClick($event, eButtonName.CATEGORIES)">Категории</a>
        <a class="nav-link" href="#" (click)="navButtonClick($event, eButtonName.ACCOUNTS)">Счета</a>
        <a class="nav-link" href="#" (click)="navButtonClick($event, eButtonName.CURRENCIES)">Валюты</a>
      </div>
    </div>
  </div>
</nav>
