<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FamilyBuh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav  me-auto" #navButtons>
        <a class="nav-link" routerLink="/expenses">Расходы</a>
        <a class="nav-link" routerLink="/incomes">Доходы</a>
        <a class="nav-link" routerLink="/transfers">Перемещения</a>
        <a class="nav-link" routerLink="/exchanges">Обмены валют</a>
        <a class="nav-link" routerLink="/categories">Категории</a>
        <a class="nav-link" routerLink="/accounts">Счета</a>
        <a class="nav-link" routerLink="/currencies">Валюты</a>
      </div>
      <div class="navbar-text text-light">
        {{username}}
      </div>
      <div *ngIf="!emailVerified" class="navbar-text text-warning">
        (!)
      </div>
    </div>
  </div>
</nav>
