<div *ngIf="!userCategoriesLoaded">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="category-list-wrapper">
  <div class="category-list-between"></div>
  <button mat-raised-button color="primary" (click)="openAddDialog()">Новая категория</button>
  <div class="category-list-between"></div>
  <div class="category-list" *ngFor="let category of userCategories | async; trackBy: trackById">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{category.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="category.isIncome">Доход</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!category.isIncome">Расход</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
                <button mat-button>Изменить</button>
        </mat-card-actions>
      </mat-card>
    <div class="category-list-between"></div>
  </div>
</div>
