<div class="modal-header">
  <h4 class="modal-title" *ngIf="mode === dialogMode.ADD">Новая категория</h4>
  <h4 class="modal-title" *ngIf="mode === dialogMode.EDIT">Редактировать категорию</h4>
</div>
<div class="modal-body">
  <app-spinner [condition]="!formReady"/>
  <form [formGroup]="categoryControlGroup" class="category-form" *ngIf="formReady">
    <input type="hidden" formControlName="id">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="categoryName" formControlName="name" placeholder="">
      <label for="categoryName" class="form-label">Наименование категории</label>
    </div>
    <div class="form-floating">
      <select class="form-select" aria-label="Default select example" formControlName="isIncome" id="categoryType">
        <option value="false">Расход</option>
        <option value="true">Доход</option>
      </select>
      <label for="categoryType" class="form-label">Тип категории</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" [disabled]="submitButtonDisabled" (click)="createCategory()"
          *ngIf="mode === dialogMode.ADD">Создать
  </button>
  <button type="button" class="btn btn-outline-primary" [disabled]="submitButtonDisabled" (click)="updateCategory()"
          *ngIf="mode === dialogMode.EDIT">Сохранить
  </button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.dismiss('Close click')">Отменить</button>
</div>
