<app-spinner [condition]="!formReady"/>
<div *ngIf="this.editMode === true" class="modal-header">
  <h4 *ngIf="this.operationType === eOperationType.EXPENSE"  class="modal-title">Редактировать расход</h4>
  <h4 *ngIf="this.operationType === eOperationType.INCOME" class="modal-title">Редактировать доход</h4>
</div>
<div [formGroup]="operationInputForm" class="card" [ngClass]="{ 'shadow-sm': this.editMode !== true, 'mb-2': this.editMode !== true}">
  <div class="card-body">
    <div class="input-group mb-2">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingAmountInput" [ngClass]="{'is-invalid': controlIsInvalid('amount')}" formControlName="amount">
        <label for="floatingAmountInput">Сумма</label>
        <div *ngIf="controlHasError('amount','required')" class="invalid-feedback">Введите сумму</div>
        <div *ngIf="controlHasError('amount','incorrectValue')" class="invalid-feedback">Сумма должна быть целым или десятичным числом</div>
        <div *ngIf="controlHasError('amount','positiveOrZero')" class="invalid-feedback">Сумма должна быть больше или равно 0</div>
      </div>
      <div class="form-floating">
        <select class="form-select" aria-label="Currency select" id="floatingCurrencySelect"
                formControlName="currencyCode">
          <option *ngFor="let currency of userCurrencies | async" [value]="currency.code">{{currency.code}}</option>
        </select>
        <label for="floatingCurrencySelect">Валюта</label>
      </div>
    </div>
    <div class="form-floating mb-2">
      <select class="form-select" aria-label="Currency select" id="floatingAccountSelect" formControlName="accountName">
        <option *ngFor="let accountName of userAccountNames" [value]="accountName">{{accountName}}</option>
      </select>
      <label for="floatingCurrencySelect">Счёт</label>
    </div>
    <div class="form-floating mb-2">
      <select class="form-select" aria-label="Currency select" id="floatingCategorySelect" formControlName="categoryId">
        <option *ngFor="let category of userCategories | async" [value]="category.id">{{category.name}}</option>
      </select>
      <label for="floatingCurrencySelect">Категория</label>
    </div>
    <div class="row mb-2">
      <div class="col">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="гггг-мм-дд"
            name="dp"
            formControlName="date"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3"
                 viewBox="0 0 16 16">
              <path
                d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path
                d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <select class="form-select" id="inputGroupHourSelect" formControlName="hour">
            <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
          </select>
          <label class="input-group-text" for="inputGroupHourSelect">час.</label>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <select class="form-select" id="inputGroupMinuteSelect" formControlName="minute">
            <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
          </select>
          <label class="input-group-text" for="inputGroupMinuteSelect">мин.</label>
        </div>
      </div>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="floatingDescriptionInput" formControlName="description">
      <label for="floatingDescriptionInput">Примечание</label>
    </div>
    <button *ngIf="editMode !== true" class="btn btn-primary" (click)="operationInputSave()" [disabled]="saveButtonDisabled">Сохранить</button>
  </div>
</div>
<div *ngIf="editMode === true" class="modal-footer">
  <button class="btn btn-outline-primary" (click)="operationInputUpdate()" [disabled]="saveButtonDisabled">Сохранить изменения</button>
  <button class="btn btn-outline-primary ms-1" (click)="activeModal.dismiss('Close click')" [disabled]="saveButtonDisabled">Отменить</button>
</div>
