<app-spinner [condition]="!allCurrenciesLoaded || !userCurrenciesLoaded"/>
<div *ngIf="allCurrenciesLoaded && allCurrencies?.length === 0"><p>Справочник валют пуст</p></div>
<div *ngIf="allCurrencies?.length !== 0">
  <div class="row  mb-3">
    <div class="col">
      <select class="form-select shadow-sm" id="currencySelect" aria-label="Currency select" (change)="onCurrencySelected($event)">
        <option selected>{{CLICK_TO_SELECT_CURRENCY}}</option>
        <option *ngFor="let currency of filteredCurrencies" [value]="currency">{{currency}}</option>
      </select>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="add()" [disabled]="addButtonDisabled">Добавить</button>
    </div>
  </div>
  <ul class="list-group shadow-sm">
    <li class="list-group-item  list-group-item-secondary">Мои валюты</li>
    <li class="list-group-item" *ngFor="let currency of userCurrencies">{{currency}}</li>
  </ul>
</div>
