<div class="modal-header">
  <h4 class="modal-title" *ngIf="mode === dialogMode.ADD">Новый счёт</h4>
  <h4 class="modal-title" *ngIf="mode === dialogMode.EDIT">Редактировать счёт</h4>
</div>
<div class="modal-body">
  <app-spinner [condition]="!formReady"/>
  <form [formGroup]="formGroup" class="category-form" *ngIf="formReady">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="accountName" formControlName="name" placeholder="">
      <label for="accountName">Наименование счёта</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="accountDescription" formControlName="description" placeholder="">
      <label for="accountDescription">Описание счёта</label>
    </div>
    <div formArrayName="initialBalance">
      <p>Начальный баланс:</p>
      <div class="form-floating mb-3" *ngFor="let ctrl of initialBalance.controls; let i=index" [formGroupName]="i">
        <input type="text" class="form-control" id="initialBalance-{{i}}" formControlName="amount" placeholder="">
        <label for="initialBalance-{{i}}">{{ctrl.get('currencyCode')?.value ?? 'XXX'}}</label>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" [disabled]="submitButtonDisabled" (click)="createAccount()"
          *ngIf="mode === dialogMode.ADD">Создать
  </button>
  <button type="button" class="btn btn-outline-primary" [disabled]="submitButtonDisabled" (click)="updateAccount()"
          *ngIf="mode === dialogMode.EDIT">Сохранить
  </button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.dismiss('Close click')">Отменить</button>
</div>
