<div class="modal-header">
  <h1 class="modal-title">Добро пожаловать!</h1>
</div>
<div class="modal-body">
  <h4 class="modal-title">Для начала работы с программой необходимо выбрать основную валюту:</h4>
  <select class="form-select" aria-label="Currency" #currencySelector>
    <option *ngFor="let currency of currencies" [value]="currency.code">{{currencyValue(currency)}}</option>
  </select>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" [disabled]="okButtonDisabled" (click)="okClick(currencySelector.value)" #okButton>Ok</button>
</div>
