<div *ngIf="init !== true">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="init === true">
  <app-navbar (activeButton)="navbarActiveButton = $event"></app-navbar>
  <div class="container-lg">
    <app-incomes *ngIf="navbarActiveButton === eButtonName.INCOMES"></app-incomes>
    <app-expenses *ngIf="navbarActiveButton === eButtonName.EXPENSES"></app-expenses>
    <app-categories *ngIf="navbarActiveButton === eButtonName.CATEGORIES"></app-categories>
    <app-accounts *ngIf="navbarActiveButton === eButtonName.ACCOUNTS"></app-accounts>
    <app-currencies *ngIf="navbarActiveButton === eButtonName.CURRENCIES"></app-currencies>
    <app-transfers *ngIf="navbarActiveButton === eButtonName.TRANSFERS"></app-transfers>
    <app-exchanges *ngIf="navbarActiveButton === eButtonName.EXCHANGES"></app-exchanges>
  </div>
</div>
