<div class="card shadow-sm">
  <div class="card-body">
    <table class="table table-sm caption-top">
      <caption>
        <span>Переводы</span>
        <span> за
          <strong class="date-switch-button" (click)="decreaseDate()"><</strong>
          <span *ngIf="!isYesterday && !isToday" > {{reportDate.format("DD-MM-yyyy, dd")}} </span>
          <span *ngIf="isToday"> сегодня, {{reportDate.format("dd")}} </span>
          <span *ngIf="isYesterday"> вчера, {{reportDate.format("dd")}} </span>
          <strong class="date-switch-button" (click)="increaseDate()">></strong>
        </span>
      </caption>
      <tbody>
      <tr>
        <td><span class="fw-medium">Время</span></td>
        <td><span class="fw-medium">Со счёта</span></td>
        <td><span class="fw-medium">На счёт</span></td>
        <td><span class="fw-medium">Сумма</span></td>
        <td><span class="fw-medium">Валюта</span></td>
      </tr>
      <tr *ngFor="let transfer of dailyTransfers|async">
        <td>{{formatTime(transfer.date)}}</td>
        <td>{{transfer.expenseAccountName}}</td>
        <td>{{transfer.incomeAccountName}}</td>
        <td><span class="income-amount">{{transfer.amount|number:"1.2-3"}}</span></td>
        <td><span class="income-amount">{{transfer.currencyCode}}</span></td>
      </tr>
      <tr *ngIf="dailyTransfersSummary.length !== 0">
        <td colspan="5"></td>
      </tr>
      <tr *ngFor="let transfer of dailyTransfersSummary; index as i">
        <td colspan="3"><span *ngIf="i === 0" class="fw-medium">Итого:</span></td>
        <td><span class="income-amount fw-medium">{{transfer.summ|number:"1.2-3"}}</span></td>
        <td><span class="income-amount fw-medium">{{transfer.currencyCode}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
