<div class="card">
  <div class="card-body">
    <table class="table table-sm caption-top">
      <caption *ngIf="operationType === eOperationType.EXPENSE">Расходы за сегодня</caption>
      <caption *ngIf="operationType === eOperationType.INCOME">Доходы за сегодня</caption>
      <tbody>
      <tr>
        <td>Время</td>
        <td>Категория</td>
        <td>Сумма</td>
        <td>Валюта</td>
      </tr>
      <tr *ngFor="let operation of dailyOperations|async">
        <td>{{formatTime(operation.date)}}</td>
        <td>{{operation.category}}</td>
        <td style="color: firebrick" *ngIf="operationType === eOperationType.EXPENSE">{{operation.amount|number:"1.2-3"}}</td>
        <td style="color: forestgreen" *ngIf="operationType === eOperationType.INCOME">{{operation.amount|number:"1.2-3"}}</td>
        <td>{{operation.currencyCode}}</td>
      </tr>
      <tr *ngIf="dailyOperationsSummary.length !== 0">
        <td colspan="4">Итого:</td>
      </tr>
      <tr *ngFor="let operation of dailyOperationsSummary">
        <td colspan="2"></td>
        <td style="color: firebrick" *ngIf="operationType === eOperationType.EXPENSE">{{operation.summ|number:"1.2-3"}}</td>
        <td style="color: forestgreen" *ngIf="operationType === eOperationType.INCOME">{{operation.summ|number:"1.2-3"}}</td>
        <td>{{operation.currencyCode}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
